:root {
    --space: #000000;
    --snow: #FFFFFF;
    --stone: #E7E7E7;
    --water: #2ABFFF;
    --blossom: #B300FF;
    --plum: #35084A;
    --sprout: #30DB37;
    --marine: #4685A4;
    --graphite: #2E2626;
    --apple: #E00303;
    --tangerine: #FFA800;
    --watermelon: #FF4270;
}