/* 
    Styles defined in this file are specific to the responsive elements
    of the home page of the website.
*/

/* === === === === === === === === === === === === === === === */
/* SECTIONS */
/* This are full-width sections of your websites that will house your containers */

.section-header {
    background: url("../img/hero-image.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    height: 100vh;
}

.section-about-me {
    background-color: black;
    height: 500px;
}

.section-fun-quote {
    background-color: #E7E7E7;
}

.section-augmented-reality {
    background-color: black;
    height: 900px;
}

.section-android-projects {
    background-color: black;
    height: 900px;
}

.section-resume {
    background-color: white;
}

.section-footer {
    background-color: black;
}

/* === === === === === === === === === === === === === === === */
/* CONTAINERS */
/* These are the main boxes within each of your sections that pertain to responsive rules. */

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
}

.vertical-flex-container {
    justify-content: start;
    flex-direction: column;
}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPHONE (363px) */
/* These are the media queries for a 363px iPhone width */

@media screen and (min-width: 360px) {

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .container-header > button {
        margin-top: 34px;
    }

    .primary-button-light {
        width: 120px;
        height: 32px;
    }

    .primary-button-dark {
        width: 120px;
        height: 32px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR ??? */
/* These are the media queries for ??? */

@media screen and (min-width: 768px) {

    .container {
        padding-left: 36px;
        padding-right: 36px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPAD PRO */
/* These are the media queries for a 1024px iPad width */

@media screen and (min-width: 1024px) {

    .container {
        padding-left: 42px;
        padding-right: 42px;
    }

}

/* Media Queries for Desktop Width (1200px) */

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR DESKTOP */
/* These are the media queries for a 1200px Desktop width */

@media screen and (min-width: 1200px) {

    .container {
        padding-left: 48px;
        padding-right: 48px;
    }

    .container-header > button {
        margin-top: 58px;
    }

    .container-header {
        padding-top: 300px;
    }

    .hero-bottom-chevron {
        height: 28px;
    }

    .primary-button-light {
        width: 140px;
        height: 36px;
    }

    .primary-button-dark {
        width: 140px;
        height: 36px;
    }

}
