/* ========================================================================== */
/* MEDIA QUERIES FOR IPHONE - 320px */
/* ========================================================================== */

@media screen and (min-width: 320px) {

    .large-social-card-picture {
        width: 100px;
        height: 100px;
    }

    .small-contact-card-container { 
        gap: 12px;
    }

    .small-social-contact-item {
        width: 100%;
        height: auto;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR IPAD - 768px */
/* ========================================================================== */

@media screen and (min-width: 768px) {

    .large-social-card-picture {
        width: 120px;
        height: 120px;
    }

    .small-contact-card-container {

    }

    .small-social-contact-item {
        width: 140px;
        height: 200px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR DESKTOP - 1024px */
/* ========================================================================== */

@media screen and (min-width: 1024px) {

    .large-social-card-picture {
        width: 140px;
        height: 140px;
    }

    .small-contact-card-container {
        justify-content: center;
        gap: 12px;
    }

}