/* === === === === === === === === === === === === === === === */
/* DEFAULT STYLES */
/* These are default styles applied to all document elements */

* {
    /* Default font-family for website */
    font-family: bodyText;
    /* Normalize any browser-specific margins */
    margin: 0;
    /* Normalize any browser-specific padding*/
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* === === === === === === === === === === === === === === === */
/* BUTTON STYLES */
/* These are the default button styles applied to all buttons. */

.primary-button-light {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition-duration: 0.25s;
    cursor: pointer;
    width: 160px;
    height: 48px;
}

.primary-button-light:hover {
    background-color: white;
    color: black;
}

.primary-button-dark {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transition-duration: 0.25s;
    cursor: pointer;
    width: 160px;
    height: 48px;
}

.primary-button-dark:hover {
    background-color: black;
    color: white;
}

/* === === === === === === === === === === === === === === === */
/* HERO STYLES */
/* These are styles specific to the hero part in the home page */

.container-header {
    color: white;
    padding-top: 300px;
}

.container-header > button {
    margin-top: 58px;
}

/* === === === === === === === === === === === === === === === */
/* ABOUT ME STYLES */
/* These are styles specific to the about-me part */

.container-about-me {
    padding-top: 96px;
}

.about-me-title {
    background: -webkit-linear-gradient(30deg, white, #2ABFFF);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}

.about-me-description {
    color: white;
    padding-top: 42px;
}

/* === === === === === === === === === === === === === === === */
/* FUN QUOTES STYLES */
/* These are styles specific to the one-line sections breaking up the website */

.container-fun-quote {
    height: 400px;
    align-items: center;
    justify-content: center;
}

/* === === === === === === === === === === === === === === === */
/* AUGMENTED REALITY STYLES */
/* These are styles specific to the augmented reality part of the site */

.container-augmented-reality {
    padding-top: 96px;
}

.augmented-reality-title {
    background: -webkit-linear-gradient(30deg, white, #B300FF);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}