/* ========================================================================== */
/* MEDIA QUERIES FOR IPHONE - 320px */
/* ========================================================================== */

@media screen and (min-width: 320px) {

    .container-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .primary-button {
        width: 120px;
        height: 32px;
    }

    .section-title {
        padding-top: 30px;
        padding-bottom: 22px;
    }

    .section-padding {
        padding-bottom: 30px;
    }

    .section-fun-quote {
        padding-top: 68px;
        padding-bottom: 68px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR IPAD - 768px */
/* ========================================================================== */

@media screen and (min-width: 768px) {

    .container-padding {
        padding-left: 48px;
        padding-right: 48px;
    }

    .primary-button {
        width: 130px;
        height: 34px;
    }

    .section-title {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .section-padding {
        padding-bottom: 30px;
    }

    .section-fun-quote {
        padding-top: 124px;
        padding-bottom: 124px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR DESKTOP - 1024px */
/* ========================================================================== */

@media screen and (min-width: 1024px) {

    .container-padding {
        padding-left: 96px;
        padding-right: 96px;
    }

    .primary-button {
        width: 140px;
        height: 36px;
    }

    .section-title {
        padding-top: 96px;
        padding-bottom: 36px;
    }

    .section-padding {
        padding-bottom: 96px;
    }

    .section-fun-quote {
        padding-top: 180px;
        padding-bottom: 180px;
    }

}