/*
    Styles defined in this file apply to all pages of the website and should be 
    the first stylesheet that is imported for all pages.
*/

/* ========================================================================== */
/* DEFAULT PAGE STYLES */
/* ========================================================================== */

* {
    /* Default font-family for website */
    font-family: bodyText;
    /* Normalize any browser-specific margins */
    margin: 0;
    /* Normalize any browser-specific padding*/
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* ========================================================================== */
/* DEFAULT SECTION STYLES */
/* ========================================================================== */

.section-fun-quote {
    background-color: var(--stone);
}

.section-black-bg {
    background-color: var(--space);
}

.section-white-bg {
    background-color: var(--white);
}

/* ========================================================================== */
/* DEFAULT CONTAINER STYLES */
/* ========================================================================== */

.container {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
}

.vertical-flex-container {
    justify-content: start;
    flex-direction: column;
}

.horizontal-flex-container {
    flex-direction: row;
    flex-wrap: wrap;
}

/* ========================================================================== */
/* DEFAULT BUTTON STYLES */
/* ========================================================================== */

.primary-button-light {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition-duration: 0.25s;
    cursor: pointer;
}

.primary-button-light:hover {
    background-color: white;
    color: black;
}

.primary-button-dark {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transition-duration: 0.25s;
    cursor: pointer;
}

.primary-button-dark:hover {
    background-color: black;
    color: white;
}

/* ========================================================================== */
/* DEFAULT FUN QUOTE STYLES */
/* ========================================================================== */

.container-fun-quote {
    align-items: center;
    justify-content: center;
}

.fun-quote-text {
    text-align: center;
}

.fun-quote-colored-word {
    font-family: inherit;
    font-size: inherit;
    color: #0096FF;
    background: none;
}

/* ========================================================================== */
/* DEFAULT VIDEO STYLES */
/* ========================================================================== */

.feature-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* ========================================================================== */
/* DEFAULT FOOTER STYLES */
/* ========================================================================== */

.footer-note {
    color: white;
    text-align: center;
}