/* ========================================================================== */
/* MEDIA QUERIES FOR IPHONE - 320px */
/* ========================================================================== */

@media screen and (min-width: 320px) {

    .menu {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }

    .menu-hamburger {
        display: flex;
    }

    .section-fun-quote {
        padding-top: 76px;
        padding-bottom: 76px;
    }

    .primary-button-light {
        width: 120px;
        height: 32px;
    }

    .primary-button-dark {
        width: 120px;
        height: 32px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR IPAD - 768px */
/* ========================================================================== */

@media screen and (min-width: 768px) {

    .menu {
        display: flex;
    }

    .menu-mobile {
        display: none;
    }
    
    .menu-hamburger {
        display: none;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR DESKTOP - 1024px */
/* ========================================================================== */

@media screen and (min-width: 1024px) {

    .section-fun-quote {
        padding-top: 196px;
        padding-bottom: 196px;
    }

    .primary-button-light {
        width: 140px;
        height: 36px;
    }

    .primary-button-dark {
        width: 140px;
        height: 36px;
    }

}