.text-gradient-sky {
    background: -webkit-linear-gradient(30deg, white, #2ABFFF);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}

.text-gradient-matrix {
    background: -webkit-linear-gradient(30deg, white, #B300FF);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}

.text-gradient-matrix-dark {
    background: -webkit-linear-gradient(30deg, #A945D8, #35084A);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}

.text-gradient-emrald {
    background: -webkit-linear-gradient(30deg, white, #30DB37);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}