/*
    These are typography styles that are meant for larger screen widths such as
    iPad and Desktop. These styles are used on all pages across the website.
*/

/* ========================================================================== */
/* MEDIA QUERIES FOR IPAD - 768px */
/* ========================================================================== */

@media screen and (min-width: 768px) {

    .typ-title-header {
        font-size: 40px;
    }

    .typ-title-subheader {
        font-size: 24px;
    }

    .typ-display-subheader {
        font-size: 16px;
    }

    .typ-body-text {
        font-size: 16px;
    }

    .typ-section-header {
        font-size: 28px;
    }

    .typ-section-fun-quote {
        font-size: 18px;
    }

    .typ-button-text {
        font-size: 13px;
    }

    .typ-caption {
        font-size: 11px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR DESKTOP - 1024px */
/* ========================================================================== */

@media screen and (min-width: 1024px) {

    .typ-title-header {
        font-size: 48px;
    }

    .typ-title-subheader {
        font-size: 32px;
    }

    .typ-display-subheader {
        font-size: 18px;
    }

    .typ-body-text {
        font-size: 18px;
    }

    .typ-section-header {
        font-size: 36px;
    }

    .typ-section-fun-quote {
        font-size: 22px;
    }

    .typ-button-text {
        font-size: 14px;
    }

    .typ-caption {
        font-size: 12px;
    }

}
