.typ-title-header {
    font-family: 'urbanist-extrabold';
    font-size: 60px;
}

.typ-title-subheader {
    font-family: 'urbanist-medium';
    font-size: 36px;
}

.typ-display-subheader {
    font-family: 'urbanist-thin';
    font-size: 24px;
}

.typ-section-header {
    font-family: 'urbanist-semibold';
    font-size: 36px;
}

.typ-section-subheader {
    font-family: 'urbanist-bold';
    font-size: 32px;
}

.typ-body-text {
    font-family: 'urbanist-regular';
    font-size: 21px;
}

.typ-caption {
    font-family: 'urbanist-semibold';
    font-size: 12px;
}