/*
    These are the basic typography styles that will be applied to all text 
    within the website. These are mobile-first sizes for iPhone 320px. The names
    of each of the styles refer to the Figma text styles in the styleguides.
*/

.typ-title-header {
    font-family: 'urbanist-extrabold';
    font-size: 32px;
}

.typ-title-subheader {
    font-family: 'urbanist-medium';
    font-size: 16px;
}

.typ-display-subheader {
    font-family: 'urbanist-thin';
    font-size: 14px;
}

.typ-body-text {
    font-family: 'urbanist-regular';
    font-size: 14px;
    line-height: 180%;
}

.typ-section-header {
    font-family: 'urbanist-semibold';
    font-size: 22px;
}

.typ-section-fun-quote {
    font-family: 'urbanist-medium';
    font-size: 14px;
}

.typ-button-text {
    font-family: 'urbanist-medium';
    font-size: 12px;
}

.typ-caption {
    font-family: 'urbanist-semibold';
    font-size: 10px;
}
