/* 
    Styles defined in this file are specific to the responsive elements of the
    videography subpage.
*/

/* ========================================================================== */
/* MEDIA QUERIES FOR IPHONE - 320px */
/* ========================================================================== */

@media screen and (min-width: 320px) {

    .videography-bento-item-container {
        aspect-ratio: 4 / 3;
        width: 100%;
        background-color: #181818;
    }

    .section-equipment-gear-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR IPAD - 768px */
/* ========================================================================== */

@media screen and (min-width: 768px) {

    .videography-bento-item-container {
        width: 50%;
    }

    .section-equipment-gear-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR DESKTOP - 1024px */
/* ========================================================================== */

@media screen and (min-width: 1024px) {

    .section-equipment-gear-padding {
        padding-top: 96px;
        padding-bottom: 96px;
    }

}
