/*
    Styles defined in this file apply to the videography page of this website.
*/

/* ========================================================================== */
/* LATEST CINEMATIC STYLES */
/* ========================================================================== */

.latest-cinematic-video-container {

}

/* .latest-cinematic-video-container {
    display: flex;
    justify-content: center;
} */










/* === === === === === === === === === === === === === === === */
/* OTHER VIDEOS STYLES */
/* These are styles specific to the other videos row part */

.other-videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

/* === === === === === === === === === === === === === === === */
/* BENTO BOX SECTION STYLES */
/* These are styles specific to the 4 bento boxes */

.container-equipment-and-gear {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.videography-bento-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
}

.videography-bento-caption {
    margin-bottom: 12px;
    color: #0792CE;
}

.videography-bento-image-1 {
    background: url("../../img/calvin-ry-bento-img-1.PNG");
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.videography-bento-image-2 {
    background: url("../../img/calvin-ry-bento-img-2.PNG");
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

/* === === === === === === === === === === === === === === === */
/* CONTACT STYLES */
/* These are styles specific to the contact and YouTube section */

.instagram-title {
    background: -webkit-linear-gradient(30deg, #842EAD, #0E0E0E);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.calvin-ry-picture-container {
    display: flex;
    justify-content: center;
}

.calvin-ry-picture {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: black;
    padding: 5px;
}

.container-calvin-ry-contact {
    align-items: center;
}

.youtube-button {
    margin-bottom: 12px;
}
