/* 
    Styles defined in this file apply only to the videography page of this website.
*/

/* === === === === === === === === === === === === === === === */
/* SECTIONS */
/* This are full-width sections of your websites that will house your containers */

.section-videography-header {
    background-color: black;
    height: 532px;
}

.section-footer {
    background-color: black;
}

/* === === === === === === === === === === === === === === === */
/* VIDEOGRAPHY HERO STYLES */
/* These are styles specific to the hero part in the videography page */

.container-videography-header {
    color: white;
    padding-top: 280px;
}

/* === === === === === === === === === === === === === === === */
/* LATEST CINEMATIC STYLES */
/* These are styles specific to the latest cinematic part */

.latest-cinematic-title {
    background: -webkit-linear-gradient(30deg, #842EAD, #0E0E0E);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.latest-cinematic-video-container {
    display: flex;
    justify-content: center;
}

/* === === === === === === === === === === === === === === === */
/* OTHER VIDEOS STYLES */
/* These are styles specific to the other videos row part */

.other-videos-title {
    background: -webkit-linear-gradient(30deg, #842EAD, #0E0E0E);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-top: 76px;
    margin-bottom: 32px;
}

.other-videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

