/* 
    Styles defined in this file are specific to the responsive elements
    of the videography page of the website.
*/

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPHONE (363px) */
/* These are the media queries for a 363px iPhone width */

@media screen and (min-width: 360px) {

    .section-vertical-padding {
        padding-top: 76px;
        padding-bottom: 76px;
    }

    .section-latest-cinematic {

    }

    .latest-cinematic-video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }

    .other-video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }

    .videography-bento-item-box {
        aspect-ratio: 4 / 3;
        width: 100%;
        background-color: blueviolet;
        background-clip: padding-box;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR ??? */
/* These are the media queries for ??? */

@media screen and (min-width: 768px) {

    .latest-cinematic-video {
        margin-right: 36px;
        margin-left: 36px;
    }

    .other-video {
        width: 340px;
    }

    .videography-bento-item-box {
        width: 49%;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPAD PRO */
/* These are the media queries for a 1024px iPad width */

@media screen and (min-width: 1024px) {

    .latest-cinematic-video {
        margin-right: 96px;
        margin-left: 96px;
    }

    .other-video {
        width: 460px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR DESKTOP */
/* These are the media queries for a 1200px Desktop width */

@media screen and (min-width: 1200px) {

    .latest-cinematic-video {
        width: 1000px;   
        height: 563px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .other-video {
        width: 540px;
    }

}
