/* 
    Styles defined in this file are specific to the responsive elements
    of the videography page of the website.
*/

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPHONE (363px) */
/* These are the media queries for a 363px iPhone width */

@media screen and (min-width: 360px) {

    .section-vertical-padding {
        padding-top: 76px;
        padding-bottom: 76px;
    }

    /* .contact-cards-container {
        justify-content: center;
    }

    .contact-card {
        width: 330px;
    }

    .contact-card-logo {
        height: 40px;
        width: 40px;
        margin-top: 22px;
        margin-bottom: 22px;
        margin-left: 22px;
        margin-right: 12px;
    } */

}