/* ========================================================================== */
/* MY EQUIPMENT AND GEAR STYLES                                               */
/* ========================================================================== */

.videography-bento-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: white;
}

.videography-bento-caption {
    margin-bottom: 12px;
    color: #0792CE;
}

.videography-bento-image-1 {
    background: url("../../img/calvin-ry-bento-img-1.PNG");
    background-size: 100%;
    background-position: center;
    background-size: cover;
}

.videography-bento-image-2 {
    background: url("../../img/calvin-ry-bento-img-2.PNG");
    background-size: 100%;
    background-position: center;
    background-size: cover;
}
