/* ========================================================================== */
/* NAVIGATION STYLES */
/* ========================================================================== */

.navigation {
    display: flex;
    justify-content: flex-end;
}

.menu {
    list-style-type: none;
    list-style: none;
    margin: 0;
}

.menu a:hover {
    color: var(--water);
    transition: 0.25s;
}

.menu-item {
    color: var(--snow);
    text-decoration: none;
    padding: 0px 4px;
}

.navigation-inactive {
    visibility: hidden;
}

/* ========================================================================== */
/* NAVIGATION MOBILE STYLES */
/* ========================================================================== */

.navigation-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--space);
    opacity: 90%;
    z-index: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.menu-mobile {
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.navigation-mobile-active {
    visibility: visible;
}

.mobile-menu-close {
    margin-top: 32px;
}