/* 
    Styles defined in this file apply only to the contac page of this website.
*/

/* === === === === === === === === === === === === === === === */
/* SECTIONS */
/* This are full-width sections of your websites that will house your containers */

.section-contact-header {
    background-color: black;
    height: 532px;
}

/* === === === === === === === === === === === === === === === */
/* CONTACT HERO STYLES */
/* These are styles specific to the hero part in the contact page */

.container-contact-header {
    color: white;
    padding-top: 280px;
}

/* === === === === === === === === === === === === === === === */
/* SOCIAL MEDIA STYLES */
/* These are styles specific to the social media part */

.social-media-title {
    background: -webkit-linear-gradient(30deg, #E00303, #FFA800);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

/* Contact Card Styles */

.contact-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.contact-card {
    display: flex;
    border: 2px solid black;
    margin-bottom: 24px;
    padding-right: 22px;
}

.contact-card-logo {
    height: 40px;
    width: 40px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 22px;
    margin-right: 12px;
}

.contact-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}