/* 
    Styles defined in this file are specific to the responsive elements
    of the contact page of the website.
*/

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPHONE (363px) */
/* These are the media queries for a 363px iPhone width */

@media screen and (min-width: 360px) {

    .contact-cards-container {
        justify-content: center;
    }

    .contact-card {
        width: 330px;
    }

    .contact-card-logo {
        height: 40px;
        width: 40px;
        margin-top: 22px;
        margin-bottom: 22px;
        margin-left: 22px;
        margin-right: 12px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR ??? */
/* These are the media queries for ??? */

@media screen and (min-width: 768px) {
    
    .contact-cards-container {
        justify-content: start;
    }

    .contact-card {
        width: 360px;
        margin-right: 24px;
    }
    
    .contact-card-logo {
        margin-right: 22px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPAD PRO */
/* These are the media queries for a 1024px iPad width */

@media screen and (min-width: 1024px) {

    .contact-card {
        width: 390px;
    }
    
    .contact-card-logo {
        margin-right: 22px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR DESKTOP */
/* These are the media queries for a 1200px Desktop width */

@media screen and (min-width: 1200px) {

    .contact-card {
        width: 420px;
    }

    .contact-card-logo {
        margin-right: 22px;
    }

}
