/* 
    Styles defined in this file apply only to the simmy sigma page of this website.
*/

/* === === === === === === === === === === === === === === === */
/* SECTIONS */
/* This are full-width sections of your websites that will house your containers */

.section-simmy-sigma-playlists {
    background-color: white;
}

/* === === === === === === === === === === === === === === === */
/* SIMMY SIGMA HERO STYLES */
/* These are styles specific to the hero part in the simmy sigma page */

.container-simmysigma-header {
    color: white;
    padding-top: 143px;
}

/* === === === === === === === === === === === === === === === */
/* SIMMY SIGMA INTRO STYLES */
/* These are styles specific to the introduction of simmy sigma */

.simmysigma-intro-title {
    background: -webkit-linear-gradient(30deg, #4685a4, #2e2626);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.intro-video-container {
    display: flex;
    justify-content: center;
}

/* === === === === === === === === === === === === === === === */
/* SIMMY SIGMA PLAYLISTS STYLES */
/* These are styles specific to the about part of simmy sigma */

.playlists-content-title {
    background: -webkit-linear-gradient(30deg, #4685a4, #2e2626);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.playlists-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}

/* === === === === === === === === === === === === === === === */
/* YOUTUBE STYLES */
/* These are styles specific to the contact and YouTube section */

.youtube-title {
    background: -webkit-linear-gradient(30deg, #4685a4, #2e2626);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.simmy-sigma-picture-container {
    display: flex;
    justify-content: center;
}

.simmy-sigma-picture {
    width: 240px; 
    height: 240px;
    border-radius: 100%;
    background-color: black;
    padding: 5px;
}

.container-simmy-sigma-contact {
    align-items: center;
}

.youtube-button {
    margin-bottom: 12px;
}
