/* 
    Styles defined in this file apply only to the homepage of this website.
*/

/* === === === === === === === === === === === === === === === */
/* SECTIONS */
/* This are full-width sections of your websites that will house your containers */

.section-header {
    background: url("../../img/hero-image.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    height: 100vh;
}

.section-about-me {
    background-color: black;
}

.section-augmented-reality {
    background-color: black;
    height: auto;
}

.section-android-projects {
    background-color: black;
    height: auto;
}

.section-resume {
    background-color: white;
}

.section-footer {
    background-color: black;
}

/* === === === === === === === === === === === === === === === */
/* HERO STYLES */
/* These are styles specific to the hero part in the home page */

.container-header {
    color: white;
    padding-top: 200px;
}

.hero-bottom-chevron {
    color: white;
    height: 18px;
    opacity: 0.7;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: auto;
}

/* === === === === === === === === === === === === === === === */
/* ABOUT ME STYLES */
/* These are styles specific to the about-me part */

.about-me-title {
    background: -webkit-linear-gradient(30deg, white, #2ABFFF);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}

.about-me-description {
    color: #E7E7E7;
}

.about-me-ending-line {
    width: 40px;
    height: 2px;
    background-color: #2ABFFF;
    margin-top: 42px;
}

/* === === === === === === === === === === === === === === === */
/* AUGMENTED REALITY STYLES */
/* These are styles specific to the augmented reality part of the site */

.augmented-reality-title {
    background: -webkit-linear-gradient(30deg, white, #B300FF);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}

.container-augmented-reality-projects {
    display: flex;
    flex-wrap: wrap;
    left: 0px;
    right: 0px;
    margin: auto;
    justify-content: center;
}

.augmented-reality-project {
    position: relative;
    align-items: center;
    text-align: center;
}

.augmented-reality-project-screenshot {
    width: 200px;
    height: auto;
}

.augmented-reality-project-overlay {
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.augmented-reality-project:hover .augmented-reality-project-overlay {
    opacity: 0.7;
}

.augmented-reality-project-thumb-caption {
    color: white;
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    margin: auto;
    opacity: 0;
    transition: 0.5s;
}

.augmented-reality-project:hover .augmented-reality-project-thumb-caption {
    opacity: 1;
}

/* === === === === === === === === === === === === === === === */
/* ANDROID PROJECTS STYLES */
/* These are styles specific to the android projects part of the site */

.android-projects-title {
    background: -webkit-linear-gradient(30deg, white, #30DB37);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
}

.container-android-projects {
    display: flex;
    flex-wrap: wrap;
    left: 0px;
    right: 0px;
    margin: auto;
    justify-content: center;
}

.android-project-item {
    position: relative;
    text-align: center;
}

.android-project-item:hover .item-android-project-thumb-title {
    visibility: visible;
    opacity: 1;
}

.android-project-item:hover .item-android-projects-thumb-grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.item-android-projects-thumb-grayscale {
    transition: 0.5s;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome/Safari */
    max-width: 100%;
}

.item-android-project-thumb-title {
    transition: 0.5s;
    pointer-events: none;
    position: absolute;
    color: black;
    left: 0px;
    right: 0px;
    visibility: hidden; 
    opacity: 0;
}

/* === === === === === === === === === === === === === === === */
/* RESUME STYLES */
/* These are styles specific to the resume part of the site */

.resume-title {
    color: black;
}

.resume-image-bar-container {
    display: flex;
    position: relative;
}

.resume-left-blue-box {
    background-color: #2ABFFF;
    height: 250px;
    width: 50%;
}

.resume-picture-container {
    width: 100%;
    position: absolute;
    text-align: center;
}

.resume-image {
    border-radius: 100%;
    margin: auto; 
    background-color: #2ABFFF;
}

.container-resume-download {
    align-items: center;
}

/* === === === === === === === === === === === === === === === */
/* FOOTER STYLES */
/* These are styles specific to the footer on the homepage */

.footer-note {
    color: white;
    padding-top: 34px;
    padding-bottom: 34px;
    text-align: center;
}

/* === === === === === === === === === === === === === === === */
/* NAVIGATION STYLES */
/* These are styles specific to the nav menu and nav bar */

.navigation {
    display: flex;
    padding-top: 112px;
    justify-content: flex-end;
}

.menu {
    list-style-type: none;
    list-style: none;
    gap: 4px;
    margin: 0;
    /* border: solid 1px red; */
}

.menu a:hover {
    color: #2ABFFF;
    transition: 0.25s;
}

.menu-item {
    color: aliceblue;
    text-decoration: none;
    padding: 0px 4px;
}

.navigation-inactive {
    visibility: hidden;
}

/* === === === === === === === === === === === === === === === */
/* NAVIGATION MOBILE STYLES */
/* These are styles specific to the mobile version of navigation */

.navigation-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 90%;
    z-index: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.menu-mobile {
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.navigation-mobile-active {
    visibility: visible;
}

.mobile-menu-close {
    margin-top: 32px;
}