/* 
    Styles defined in this file are specific to the responsive elements
    of the home page of the website.
*/

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPHONE (363px) */
/* These are the media queries for a 363px iPhone width */

@media screen and (min-width: 360px) {

    .container-header > button {
        margin-top: 34px;
    }

    .about-me-description {
        padding-top: 34px;
    }

    .section-vertical-padding {
        padding-top: 76px;
        padding-bottom: 76px;
    }

    .container-augmented-reality-projects {
        padding-top: 34px;
        width: 284px;
        gap: 4px;
    }

    .augmented-reality-project-screenshot {
        width: 140px;
        height: auto;
    }

    .container-android-projects {
        padding-top: 34px;
        width: 304px;
    }

    .android-project-item {
        height: 150px;
        width: 150px;
        margin: 1px;
    }

    .item-android-project-thumb-title {
        top: 14px;
    }

    .resume-image-bar-container {
        margin-top: 42px;
        margin-bottom: 42px;
    }

    .resume-image {
        width: 120px;
        height: 120px;
        padding: 5px;
    }

    .resume-left-blue-box {
        height: 130px;
    }

    .resume-subtitle {
        margin-bottom: 24px;
    }

    .footer-note {
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR ??? */
/* These are the media queries for ??? */

@media screen and (min-width: 768px) {

    .augmented-reality-project-screenshot {
        width: 160px;
    }

    .container-augmented-reality-projects {
        padding-top: 52px;
        width: 664px;
        gap: 8px;
    }

    .container-android-projects {
        padding-top: 52px;
        width: 708px;
    }

    .android-project-item {
        height: 175px;
        width: 175px;
    }

    .resume-image {
        width: 160px;
        height: 160px;
    }

    .resume-left-blue-box {
        height: 170px;
    }

    .resume-subtitle {
        margin-bottom: 30px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPAD PRO */
/* These are the media queries for a 1024px iPad width */

@media screen and (min-width: 1024px) {

    .augmented-reality-project-screenshot {
        width: 180px;
    }

    .container-augmented-reality-projects {
        padding-top: 74px;
        width: 744px;
        gap: 8px;
    }

    .container-android-projects {
        padding-top: 74px;
        width: 908px;
    }

    .android-project-item {
        height: 200px;
        width: 200px;
    }

    .resume-image {
        width: 200px;
        height: 200px;
    }

    .resume-left-blue-box {
        height: 210px;
    }

    .resume-subtitle {
        margin-bottom: 36px;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR DESKTOP */
/* These are the media queries for a 1200px Desktop width */

@media screen and (min-width: 1200px) {

    .container-header {
        padding-top: 162px;
    }

    .container-header > button {
        margin-top: 58px;
    }

    .hero-bottom-chevron {
        height: 28px;
    }

    .section-about-me {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .about-me-description {
        padding-top: 42px;
    }

    .section-augmented-reality {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .container-augmented-reality-projects {
        padding-top: 96px;
        width: 996px;
        gap: 12px;
    }

    .augmented-reality-project-screenshot {
        width: 200px;
    }

    .section-android-projects {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .container-android-projects {
        padding-top: 96px;
        width: 908px;
    }

    .android-project-item {
        height: 225px;
        width: 225px;
        margin: 1px;
    }

    .item-android-project-thumb-title {
        top: 22px;
    }

    .section-resume {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .resume-image-bar-container {
        margin-top: 56px;
        margin-bottom: 56px;
    }

    .resume-image {
        width: 240px;
        height: 240px;
    }

    .resume-left-blue-box {
        height: 250px;
    }

    .resume-subtitle {
        margin-bottom: 42px;
    }

    .footer-note {
        padding-top: 18px;
        padding-bottom: 18px;
    }

}
