/*
    Styles defined in this file apply only to the homepage of this website.
*/

/* ========================================================================== */
/* SECTION STYLES */
/* ========================================================================== */

.section-header {
    background: url("../../img/hero-image.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* ========================================================================== */
/* HERO STYLES */
/* ========================================================================== */

.container-header {
    color: var(--snow);
}

.hero-bottom-chevron {
    color: var(--snow);
    opacity: 0.7;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

/* ========================================================================== */
/* ABOUT ME STYLES */
/* ========================================================================== */

.about-me-description {
    color: var(--stone);
}

.about-me-ending-line {
    width: 40px;
    height: 2px;
    background-color: var(--water);
}

/* ========================================================================== */
/* AUGMENTED REALITY STYLES */
/* ========================================================================== */

.container-augmented-reality-projects {
    display: flex;
    flex-wrap: wrap;
    left: 0px;
    right: 0px;
    margin: auto;
    justify-content: center;
}

.augmented-reality-project {
    position: relative;
    align-items: center;
    text-align: center;
}

.augmented-reality-project-screenshot {
    width: 100%;
    display: block;
}

.augmented-reality-project-overlay {
    background-color: var(--space);
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.augmented-reality-project:hover .augmented-reality-project-overlay {
    opacity: 0.7;
}

.augmented-reality-project-thumb-caption {
    color: var(--snow);
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    margin: auto;
    opacity: 0;
    transition: 0.5s;
}

.augmented-reality-project:hover .augmented-reality-project-thumb-caption {
    opacity: 1;
}

/* ========================================================================== */
/* ANDROID PROJECTS STYLES */
/* ========================================================================== */

.container-android-projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.android-project-item {
    position: relative;
    text-align: center;
    height: auto;
}

.item-android-projects-thumb-grayscale {
    transition: 0.5s;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    width: 100%;
    display: block; /* so that the anchor tag that this img lives in doesn't add weird spacing*/
}

.android-project-item:hover .item-android-projects-thumb-grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.item-android-project-thumb-title {
    transition: 0.5s;
    pointer-events: none;
    position: absolute;
    color: var(--space);
    left: 0px;
    right: 0px;
    visibility: hidden; 
    opacity: 0;
}

.android-project-item:hover .item-android-project-thumb-title {
    visibility: visible;
    opacity: 1;
}

/* ========================================================================== */
/* RESUME STYLES */
/* ========================================================================== */

.resume-title {
    color: var(--space);
}

.resume-image-bar-container {
    display: flex;
    position: relative;
}

.resume-left-blue-box {
    background-color: var(--water);
    width: 50%;
}

.resume-picture-container {
    width: 100%;
    position: absolute;
    text-align: center;
}

.resume-image {
    border-radius: 100%;
    margin: auto; 
    background-color: var(--water);
}

.container-resume-download {
    align-items: center;
} 
