/* ========================================================================== */
/* MEDIA QUERIES FOR IPHONE - 320px */
/* ========================================================================== */

@media screen and (min-width: 320px) {

    .container-header {
        padding-top: 168px;
    }

    .container-header > button {
        margin-top: 24px;
    }

    .hero-bottom-chevron {
        height: 18px;
        bottom: 8px;
    }

    .about-me-ending-line {
        margin-top: 22px;
    }

    .augmented-reality-project {
        width: 50%;
    }

    .android-project-item {
        width: 50%;
    }

    .item-android-projects-thumb-grayscale {
        filter: none;
        -webkit-filter: grayscale(0%);
    }

    .item-android-project-thumb-title {
        top: 14px;
    }

    .resume-left-blue-box {
        height: 130px;
    }

    .resume-image {
        width: 120px;
        height: 120px;
        padding: 5px;
    }

    .container-resume-download {
        padding-top: 22px;
    }

    .resume-subtitle {
        padding-bottom: 12px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR IPAD - 768px */
/* ========================================================================== */

@media screen and (min-width: 768px) {

    .container-header > button {
        margin-top: 36px;
    }

    .hero-bottom-chevron {
        height: 20px;
        bottom: 10px;
    }

    .about-me-ending-line {
        margin-top: 30px;
    }

    .augmented-reality-project {
        width: 25%;
    }

    .android-project-item {
        width: 25%;
    }

    .item-android-project-thumb-title {
        top: 21px;
    }

    .resume-left-blue-box {
        height: 170px;
    }

    .resume-image {
        width: 160px;
        height: 160px;
    }

    .container-resume-download {
        padding-top: 30px;
    }

    .resume-subtitle {
        padding-bottom: 16px;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR DESKTOP - 1024px */
/* ========================================================================== */

@media screen and (min-width: 1024px) {

    .container-header > button {
        margin-top: 48px;
    }

    .hero-bottom-chevron {
        height: 22px;
        bottom: 12px;
    }

    .about-me-ending-line {
        margin-top: 36px;
    }

    .item-android-project-thumb-title {
        top: 28px;
    }

    .item-android-projects-thumb-grayscale {
        filter: none;
        -webkit-filter: grayscale(100%);
    }

    .resume-left-blue-box {
        height: 210px;
    }

    .resume-image {
        width: 200px;
        height: 200px;
    }

    .container-resume-download {
        padding-top: 36px;
    }

    .resume-subtitle {
        padding-bottom: 20px;
    }

}
