/* ========================================================================== */
/* MEDIA QUERIES FOR IPHONE - 320px */
/* ========================================================================== */

@media screen and (min-width: 360px) {

    .web-app-row-item {
        display: flex;
        flex-wrap: wrap;
    }

    .web-app-item-image {
        width: 100%;
        aspect-ratio: 4 / 3;
        background-color: green;
    }

    .web-app-item-description {
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        margin: 24px;
    }

    .web-app-subtitle {
        margin-bottom: 12px;
    }

    .web-app-description {
        margin-bottom: 12px;
    }

    .web-app-tech-logo {
        width: 24px;
        height: 24px;
    }

    .web-app-row-a > img {
        order: 1;
    }

    .web-app-row-a > div {
        order: 2;
    }

    .web-app-row-b > img {
        order: 1;
    }

    .web-app-row-b > div {
        order: 2;
    }

    .design-samples-bento-image {
        width: 100%;
    }

}

/* ========================================================================== */
/* MEDIA QUERIES FOR IPAD - 768px */
/* ========================================================================== */

@media screen and (min-width: 768px) {

}

/* ========================================================================== */
/* MEDIA QUERIES FOR DESKTOP - 1024px */
/* ========================================================================== */

@media screen and (min-width: 1024px) {

    .web-app-item-image {
        width: 50%;
    }

    .web-app-item-description {
        width: 50%;
        aspect-ratio: 4 / 3;
    }

    .web-app-row-b > img {
        order: 2;
    }

    .web-app-row-b > div {
        order: 1;
    }

    .design-samples-bento-image {
        width: 49%;
    }

}
