/* 
    Styles defined in this file apply only to the archive page of this website.
*/

/* === === === === === === === === === === === === === === === */
/* SECTIONS */
/* This are full-width sections of your websites that will house your containers */

.section-archive-header {
    background-color: black;
    height: 532px;
}

.section-design-samples {
    margin-bottom: 76px;
}

.section-footer {
    background-color: black;
}

/* === === === === === === === === === === === === === === === */
/* ARCHIVE HERO STYLES */
/* These are styles specific to the hero part in the archive page */

.container-archive-header {
    color: white;
    padding-top: 143px;
}

/* === === === === === === === === === === === === === === === */
/* WEB APPLICATION STYLES */
/* These are styles specific to the web app projects part */

.web-app-title {
    background: -webkit-linear-gradient(30deg, #FF4270, #A300E8);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

/* === === === === === === === === === === === === === === === */
/* DESIGN SAMPLES STYLES */
/* These are styles specific to the design samples part */

.design-samples-title {
    background: -webkit-linear-gradient(30deg, #FF4270, #A300E8);
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}

.container-design-samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.design-samples-bento-image {
    aspect-ratio: 4 / 3;
    background-size: cover;
}

/* === === === === === === === === === === === === === === === */
/* FOOTER STYLES */
/* These are styles specific to the footer on the archive page */

.footer-note {
    color: white;
    padding-top: 34px;
    padding-bottom: 34px;
    text-align: center;
}