/* 
    Styles defined in this file apply only to the archive page of this website.
*/

/* === === === === === === === === === === === === === === === */
/* SECTIONS */
/* This are full-width sections of your websites that will house your containers */

.section-archive-header {
    background-color: black;
    height: 532px;
}

.section-footer {
    background-color: black;
}

/* === === === === === === === === === === === === === === === */
/* ARCHIVE HERO STYLES */
/* These are styles specific to the hero part in the archive page */

.container-archive-header {
    color: white;
    padding-top: 143px;
}

/* === === === === === === === === === === === === === === === */
/* FOOTER STYLES */
/* These are styles specific to the footer on the archive page */

.footer-note {
    color: white;
    padding-top: 34px;
    padding-bottom: 34px;
    text-align: center;
}