/* 
    Styles defined in this file are specific to the responsive elements
    of the archive and design page of the website.
*/

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPHONE (363px) */
/* These are the media queries for a 363px iPhone width */

@media screen and (min-width: 360px) {

    .section-vertical-padding {
        padding-top: 76px;
        padding-bottom: 76px;
    }

    .grid {
        width: 360px;
        margin: auto;
    }

    .grid-front-end {
        width: 100%;
    }

    .web-app-row-item {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid #D9D9D9;
        margin-bottom: 8px;
    }

    .web-app-item-image {
        width: 50%;
        aspect-ratio: 4 / 3;
        background-color: green;
    }

    .web-app-item-description {
        width: 50%;
        aspect-ratio: 4 / 3;
        display: flex;
        align-items: center;
        
    }

    .text-container {
        display: flex;
        flex-direction: column;
        margin: 24px;
    }

    .web-app-subtitle {
        margin-bottom: 12px;
    }

    .web-app-description {
        margin-bottom: 12px;
    }

    .web-app-tech-logo {
        width: 24px;
        height: 24px;
    }

    .design-samples-bento-item-box {
        aspect-ratio: 4 / 3;
        width: 100%;
        background-color: #181818;
        background-clip: padding-box;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR ??? */
/* These are the media queries for ??? */

@media screen and (min-width: 768px) {

    .grid {
        width: 768px;
    }

    .design-samples-bento-item-box {
        width: 49%;
    }

}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR iPAD PRO */
/* These are the media queries for a 1024px iPad width */

@media screen and (min-width: 1024px) {

    .grid {
        width: 1024px;
    }
}

/* === === === === === === === === === === === === === === === */
/* MEDIA QUERIES FOR DESKTOP */
/* These are the media queries for a 1200px Desktop width */

@media screen and (min-width: 1200px) {

    .grid {
        width: 1200px;
    }
}
